<div id="footer" style='background: #dce8ee;border:2px solid #c3cfd6;'>
    This application is a product of
    <%= link_to 'BigBinary.com', 'http://BigBinary.com' %> , a RubyonRails development company in Miami .
</div>
