<div id="footer" style='background: #dce8ee;border:2px solid #c3cfd6;'>
  <div style='float:left;'>
    <%= link_to image_tag('http://www.bigbinary.com/images/bigbinary_logo_web.png'), 'http://BigBinary.com' %>
  </div>
  <div style='float:right; width: 700px;line-height: 25px;'>
    BackboneCart is an open source application meant to enhance learning of Backbone.js.
    We have produced a detailed step by step video of how to create this application using Backbone.js.
    You will find a lot more resources about Ruby on Rails, jQuery and Backbone at
    <%= link_to 'BigBinary.com', 'http://BigBinary.com' %>
  </div>
  <div style='clear:both;'></div>
</div>
