<div id="footer" style='background: #dce8ee;border:2px solid #c3cfd6;'>
  <div style='float:left;'>
    <%= link_to image_tag('http://www.bigbinary.com/images/bigbinary_logo_web.png'), 'http://BigBinary.com' %>
  </div>
  <div style='float:right; width: 700px;line-height: 25px;'>
    This application is a product of
    <%= link_to 'BigBinary.com', 'http://BigBinary.com' %> , a RubyonRails development company in Miami .
  </div>
  <div style='clear:both;'></div>
</div>
