<script type="text/x-jquery-tmpl" id="cartTmpl">
  <h2>Shopping Bag</h2>
  <table id="shoppingBag-table">
    <thead>
      <tr>
        <th scope="col" id="thumbnail"></th>
        <th scope="col" id="productName"><span class="left">Item Name</span></th>
        <th scope="col" id="price">Price</th>
        <th scope="col" id="quantity">Quantity</th>
        <th scope="col" id="total">Total</th>
        <th scope="col" id="remove"></th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <td colspan="4"><span class="costBeforeShipping right">Cost before shipping</span></td>
        <td colspan="5">
          <span class="totalPrice">
            =&nbsp;
            <strong>
              $2,499.99
            </strong>
          </span>
        </td>
      </tr>
      <tr class="noBorder">
        <td colspan="6">
          <span class="right"><a href="/checkout"><span class="buttonProceedToCheckout">Proceed To Checkout</span></a></span>
          <span class="continueShopping right">
            <a href="http://localhost:3000/">
              Continue shopping
            </a>
            or
          </span>
        </td>
      </tr>
    </tfoot>
  </table>
</script>

<script type="text/x-jquery-tmpl" id="lineItemTmpl">
  <tr>
    <td class="thumb">
      <a href="/system/pictures/18/original/Screen_shot_2010-03-26_at_4.55.11_PM.jpg" class="single_image">
        <img alt="Mac Pro" height="60" src="/system/pictures/18/thumbnail/Screen_shot_2010-03-26_at_4.55.11_PM.jpg" width="60" />
      </a>
    </td>
    <td class="left">
      <a href="/products/18">
        ${product.name}
      </a>
    </td>
    <td>
      $${product.price}
    </td>
    <td>
      <a href="/cart?product_id=18&amp;quantity=0" class="buttonLess" data-method="put" rel="nofollow">
        &amp;lt;
      </a>
      <span class="amount">
        ${quantity}
      </span>
      <a href="/cart?product_id=18&amp;quantity=2" class="buttonMore" data-method="put" rel="nofollow">
        &amp;gt;
      </a>
    </td>
    <td class="productTotal">
      $2,499.99
    </td>
    <td>
      <a href="/cart?product_id=18" data-method="delete" rel="nofollow" title="Remove">
        <span class="buttonRemove">
          Remove
        </span>
      </a>
    </td>
  </tr>
</script>

<script type="text/x-jquery-tmpl" id="productTmplForListing">
  <a href="#products/${id}" data-id='${id}'>
    <img alt="${name}" class="productImage" height="190" src="/system/pictures/${id}/thumbnail/${picture_file_name}" width="190" />
  </a>
  <p class="productName">
    <a href="/products/${id}">
      ${name}
    </a>
  </p>
  <p class="productPrice">
    ${price}
  </p>
</script>

<script type='text/x-jquery-tmp' id='headerTmplForPage'>
  <div>
    <h1>
      <a href="#" title="BackboneCart">BackboneCart</a>
    </h1>

    <div id="details">
      <span class="details">
        <span class="topDivider">|</span>
        0 items
        <span class="topDivider">|</span>
        $0.00
      </span>

      <a href="/cart" title="Shopping Cart"><span class="shoppingBag">Shopping Cart</span></a>
    </div>
    <div class='clear'></div>
  </div>
</script>

<script type="text/x-jquery-tmpl" id="productTmplForShow">
  <div id='productImage'>
    <div id='slideshow' class='pics'>
      <a href="/system/pictures/${id}/original/${picture_file_name}" class="single_image">
        <img alt="${name}" height="420" src="/system/pictures/${id}/original/${picture_file_name}" width="420" />
      </a>
    </div>
  </div>
  <div id="productDetails">
    <h2>${name}</h2>
    <p class="productPrice">$${price}</p>
    <p class='productDesc'>${description}</p>
    <p>
      <a href="/cart?product_id=${id}" data-method="post" rel="nofollow">
        <span class="buttonAddToShoppingBag">
          Add to Shopping Cart
        </span>
      </a>
    </p>
  </div>
</script>
