<script type="text/x-jquery-tmpl" id="productTmplForListing">
  <a href="#products/${id}.json" data-id='${id}'>
    <img alt="${name}" class="productImage" height="190" src="/system/pictures/${id}/thumbnail/${picture_file_name}" width="190" />
  </a>
  <p class="productName">
    <a href="/products/${id}.json">
      ${name}
    </a>
  </p>
  <p class="productPrice">
    ${price}
  </p>
</script>


<script type="text/x-jquery-tmpl" id="productTmplForShow">
  <div class="gallery">
    <div id='productImage'>
      <div id='slideshow' class='pics'>
        <a href="/system/pictures/${id}/original/${picture_file_name}" class="single_image">
          <img alt="${name}" height="420" src="/system/pictures/${id}/original/${picture_file_name}" width="420" />
        </a>
      </div>
    </div>
    <div id="productDetails">
      <h2>${name}</h2>
      <p class="productPrice">$${price}</p>
      <div class='productDesc"></div>
      <p>
        <a href="/cart?product_id=${id}" data-method="post" rel="nofollow">
          <span class="buttonAddToShoppingBag">
            Add to Shopping Cart
          </span>
        </a>
      </p>
  	</div>
  </div>
</script>
