<script type="text/x-jquery-tmpl" id="productTmplForListing">
  <a href="/products/${id}.json">
    <img alt="${name}" class="productImage" height="190" src="/system/pictures/${id}/thumbnail/${picture_file_name}" width="190" />
    </a>
    <p class="productName">
      <a href="/products/${id}.json">
        ${name}
      </a>
    </p>
    <p class="productPrice">
      ${price}
    </p>
  </script>


<script type="text/template" id="product-view-for-show-template">
  <div class="gallery">
    <div id='productImage'>
      <div id='slideshow' class='pics'>
        <a href="/system/pictures/20/original/apple_tv.jpg" class="single_image">
          <img alt="Apple TV" height="420" src="/system/pictures/20/original/apple_tv.jpg" width="420" />
        </a>
      </div>
    </div>
    <div id="productDetails">
  		<h2>Apple TV</h2>
  		<p class="productPrice">$199.00</p>
      <div class='productDesc"></div>
      <p>
        <a href="/cart?product_id=20" data-method="post" rel="nofollow">
          <span class="buttonAddToShoppingBag">
            Add to Shopping Cart
          </span>
        </a>
      </p>
  	</div>
  </div>
</script>
