<script type="text/template" id="product-template">
  <div class="product">
    <a href="/products/20">
      <img alt="Apple TV" class="productImage" height="190" src="/system/pictures/20/thumbnail/apple_tv.jpg?1311692640" width="190" />
    </a>
    <p class="productName">
      <a href="/products/20">
      </a>
    </p>
    <p class="productPrice">$199.00</p>
  </div>
</script>
