<script type="text/template" id="product-template">
  <div class="product">
    <a href="">
      <img alt="" class="productImage" height="190" src="/system/pictures/20/thumbnail/apple_tv.jpg?1311692640" width="190" />
    </a>
    <p class="productName">
      <a href="">
      </a>
    </p>
    <p class="productPrice"></p>
  </div>
</script>
